<nav>
    <ul>
        <li>
            <a href="{{ path('questions.homepage') }}">Homepage</a>
            <a href="{{ path('questions.create') }}">Submit new question</a>
        </li>
    </ul>
</nav>