{% extends "base.html.twig" %}

{% block body %}
    {{ question }}

    <div>
        <span class="js-vote-arrows">
            <button data-direction="up">+</button>
            <button data-direction="down">-</button>
        </span>
        <span class="js-vote-total"></span>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/question_show.js') }}"></script>
{% endblock %}