{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% if questions|length > 0 %}
            {% for question in questions %}
                <li>
                    <a href="{{ path('questions.show', { slug: question.slug }) }}">{{ question.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}